# Binaries
bin
obj

# CMake
build
build-*
cmake-build-*

# Xcode
*.xcworkspace
*.xcodeproj

# Visual Studio
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
.vs

# Makefile
Makefile
*.make

# nvim
.ccls
.ccls-cache
compile_commands.json

# Visual Studio Code
.vscode

# IntelliJ
.idea

# macOS
.DS_Store
.AppleDouble
.LSOverride
